.tabs {
    padding: 50px 0px;
    height: 100vh;
}

.tab-bg {
    background-color: #414f6b;
}

.tab-select {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-select .tab-button {
    font-size: 20px;
    background-color: #414f6b;
    color: #dce2ea;
    padding: 15px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: "Oswald";
    font-weight: 600;
    cursor: pointer;
}

.tab-button span {
    border-bottom: 1px solid #414f6b;
}


.tab-select .tab-button:hover span::after {
    width: 100%;
}

.tab-button__active {
    background-color: #dce2ea !important;
    color: #414f6b !important;
}

.tab-content {
    height: 100%;
    position: relative;
}

.tab-image {
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    position: absolute;
    width: 100%;
}

.tab-image.active {
    opacity: 1;
}


.tab-content .container{
    position: relative;
    width: 100%;
    height: 100%;
}

.schedule{
    width: 300px;
    display: none;
    background-color: #ffffffb7!important;
    position: absolute;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    padding: 15px 20px;
}

.schedule-dates{
    margin-top: 10px;
}

.schedule h4{
    font-family: "Oswald";
    color: #414f6b;
    font-weight: 600;
    font-size: 18px;
}

.m-1{
    margin-bottom: 20px;
}

.m-2{
    margin-bottom: 20px;
}

.m-3{
    margin-bottom: 20px;
}

.m-4{
    margin-bottom: 20px;
}

.schedule.active{
    display: block;
}

.schedule-dates .date{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.schedule-dates .date span{
    font-family: "Lato";
    line-height: 24px;
    font-weight: 300;
}


@media(min-width:480px){
    .tab-select{
        justify-content: flex-start;
    }

    .schedule{
        width: 355px;
    }
}

@media(min-width:630px){
    .schedule h4{
        font-size: 22px;
    }
}

@media(min-width:780px){
    .schedule{
        top: 15%;
        left: 38%;
    }
}



@media(min-width:992px){
    .schedule{
        transform: unset;
        left: 10%;
    }
    .schedule h4{
        font-size: 32px;
    }
}

@media(min-width:1255px){
    .schedule{
        left: 15%;
    }
}

